@font-face {
  font-family: Neverwinter;
  src: url('./Fonts/Neverwinter.otf');
}

body {
  margin: 0;
  padding: 0;
}

#App {
  min-height: 100vh;
  background: url("./images/bg.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#Button_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

#Button_container button{
  background-image: url("./images/button.png");
  background-size: cover;
  width: 237px;
  height: 68px;
  margin: 10px;
  font-family: Neverwinter;
  color: #c4c419;
  font-size: 31px;
}

#App form {
  display: flex;
  text-align: center;
  flex-direction: column;
}

#App form label {
  display: flex;
  text-align: center;
  flex-direction: column;
}

.hide {
  display: none;
}

.show {
  display: block;
}
